.card {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -20%);
    margin-top: 10px;
}

.info{
    display:block;
    position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -20%);
}