body {
    margin: 0;
    margin:0;
    height: 100%;
}



.home {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    background-color:rgb(225, 248, 240) ;
}