.footer {
    min-height: 50px;
    background: rgb(58, 120, 99);
    color: #fff;
    display: flex;
    padding: 0 20px;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;        
    text-align: center;
}

.txt {
    text-align: center;
    display: flex;
    margin: 0 auto;
}