
.formContainer {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.info {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 12px;
}

input[type="email"],
input[type="password"] {
    width: 97%;
    margin-bottom: 10px;
}

.submit {
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .formContainer {
        width: 100%;
        margin-bottom: 15px;
    }

    .info {
        top: 120%;
    }
}

@media screen and (max-width: 640px) {
    .formContainer {
        width: 80%;
    }
}